
#frameSection {
    width: 60vw; 
    padding-bottom:"88px";
}

.frameChat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: #545e5903;
    scroll-behavior: smooth;
    margin-top: 10px
};

.contentIntro {
    line-height: 1.5; 
    white-space: pre-wrap; 
    margin: 8px; 
    margin-left: 5px;
    font-size: 18px;
}

#frameInput {
    margin-bottom: 10px;
    position: absolute;
    margin-top: 10px;
    width: 58vw;
    bottom: 4px;
}
#framePage {
    width: 72%;
}


@media (max-width: 768px) {

    #frameSection{
        width: 72vw !important;
        padding-bottom: 88px;
    }

    #chat_img{
        display: none;
    }

    #framePage {
        width: 100%;
    }

    #framePage h1 {
        font-size: 42px;
    }

    #frameInput {
        width: 71%;
        margin-left: 0 !important;
    }
}